services:
  apan5400-fast-api:
    container_name: apan5400-fast-api
    build:
      context: ./api
      dockerfile: ./Dockerfile
    ports:
      - 28888:8888
    environment:
      - FASTAPI_APP=main.py
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=PassW0rd
      - POSTGRES_DB=db
      - POSTGRES_HOST=apan5400-postgres
      - POSTGRES_PORT=5432
      - DATABASE_URL=postgresql://admin:PassW0rd@apan5400-postgres:5432/db
      - MONGO_HOST=apan5400-mongodb
      - MONGO_PORT=37017
      - MONGO_USER=admin
      - MONGO_PASSWORD=PassW0rd
      - MONGO_DB=db
    volumes:
      - ./api:/app
      - ./dataset:/app/dataset

    networks:
      - apan5400-net
  apan5400-flask-app:
    image: flask-python3.11:latest
    container_name: apan5400-flask-app
    build:
      context: .
      dockerfile: ./flask/Dockerfile
      args:
        REQUIREMENTS_PATH: ./flask/requirements.txt
        REQUIREMENTS_DEV_PATH: ./flask/requirements-dev.txt
    command: flask run --host=0.0.0.0 --port=18502
    networks:
      - apan5400-net
    volumes:
      - ./flask:/usr/src/app
      - ./dataset:/usr/src/dataset
      - ./data:/usr/src/data
      - ./device_utils.py:/usr/src/device_utils.py
    environment:
      - FLASK_APP=app.py
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=PassW0rd
      - POSTGRES_DB=db
      - POSTGRES_HOST=apan5400-postgres
      - POSTGRES_PORT=5432
      - DATABASE_URL=postgresql://admin:PassW0rd@apan5400-postgres:5432/db
      - MONGO_HOST=apan5400-mongodb
      - MONGO_PORT=37017
      - MONGO_USER=admin
      - MONGO_PASSWORD=PassW0rd
      - MONGO_DB=db
    ports:
      - 58503:18502

  apan5400-postgres:
    container_name: apan5400-postgres
    image: ankane/pgvector:latest
    ports:
      - 45432:5432
    volumes:
      - apan5400-postgres:/var/lib/postgresql/data
      - ./backup:/backup
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: PassW0rd
      POSTGRES_DB: db
      PGDATA: /var/lib/postgresql/data
    extra_hosts:
      - host.docker.internal:host-gateway
    networks:
      - apan5400-net

  apan5400-mongodb:
    container_name: apan5400-mongodb
    image: mongo:latest
    ports:
      - 37017:37017
    volumes:
      - mongodb_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: PassW0rd
      MONGO_INITDB_DATABASE: db
    networks:
      - apan5400-net

volumes:
  apan5400-postgres:
  mongodb_data:

networks:
  apan5400-net:
    driver: bridge
